body {
    font-family: 'PT Sans', 'Open Sans', sans-serif;
}

html {
    font-size: calc(0.5em + 1vw);
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}

.right {
    text-align: right;
}

.hover {
    cursor: pointer;
}

.dark {
    color: #ffffff;
    background-color: #000;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.profile {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/img/me.jpg');
    border-radius: 100px;
    border: 2px solid #000;
}

.dark>.content>article>.show-mobile>.profile, .dark>.content>article>.hide-mobile>.profile {
    border: 2px solid #fff;
}

@media only screen and (max-width: 800px) {
    .hide-mobile {
        display: none;
    }
    .w-100-mobile {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .show-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1170px) {
    .content {
        margin-left: 15%;
        margin-right: 15%;
    }
}